/************************ ////////////Chart Design////////////**********************/
html, body {
  height: 100%;
  margin: 0;
}
.App, #root{
  height: 100%;
}
.bodyContainer{
  min-width: 20mm;
  height: 88%;
  /* float:left; */
  /* background-color: wheat; */
  width: 100%;
}
.leftMenu {
  min-width: 20mm;
  height: 100%;
  float:left;
  background-color: wheat;
  width: 20%;
}
.pageContainer{
  height: 100%;
  background-color: rgb(201, 206, 206);
  width: 79%;
  border:1px solid thistle;
  float: right;
}

.barChart {
  position: absolute;
  left: 5%;
}
.pieChart {
  position: absolute;
  left: 5%;
  top: 30%;
}

.mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  /* display: none; */
  resize: both;
  overflow: auto;
}

.mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

.closeIcon {
  float: right;
  z-index: 100;
  cursor: pointer;
}